.starrating{
  color: #D4D4D4;
}
.starrating:hover {
  color: #F4F92F;
}

.starpanel{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #aaa;
  border-radius: 10px;
}