<div class="jumbotron text-center">

    <h1>{{ message }}</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <p>
                <table>
                    <tr>
            <td><img src="./images/coffee.jpg"></td>
            </tr>
            <tr>
               <td>Select one of the Menu options to continue...</td>
            </tr>
            </table>
            </p>
        </div></div>
</div>